/* Общие стили */
body {
    margin-top: 20px; /* Смещение всего сайта немного ниже */
}

/* Карточки криптовалют */
.coin-card {
    gap: 16px; /* Настройка расстояния между значками и названиями криптовалют */
}

/* Фиксированная ширина графиков на мобильных устройствах */
@media (max-width: 768px) {
    .chart-block {
        overflow-x: visible;
        width: 100%;
    }
}