/* Смещение всего сайта */
body {
    margin-top: 20px; /* Регулируем высоту */
}

/* Оптимизация отступов между значками и названиями криптовалют */
.coin-card {
    gap: 16px; /* Увеличивает отступы между элементами */
}

.cc-sym {
    margin-right: 8px; /* Отступ между значком и текстом */
}

/* Сделать графики статичными на мобильных устройствах */
@media (max-width: 768px) {
    .chart-block {
        overflow: hidden; /* Предотвращает вылет графика */
        width: 100%; /* Устанавливает ширину в пределах экрана */
    }
}

/* Отображение имени пользователя вместо @user */
.top-user {
    content: attr(data-username); /* Подставляет имя пользователя динамически */
}